<div id="product" class="page-layout simple left-sidebar inner-sidebar">
    <div class="header accent px-20" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div class="product-image mr-8 mr-sm-16" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }">
                <img *ngIf="product.images[0]" [src]="product.images[0].url" />
                <img *ngIf="!product.images[0]" [src]="
                        'assets/images/ecommerce/product-image-placeholder.png'
                    " />
            </div>

            <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{
                    value: '*',
                    params: { delay: '100ms', x: '-25px' }
                }">
                <div class="h2" *ngIf="pageType === 'edit'">
                    {{ product.name }}
                </div>
                <div class="h2" *ngIf="pageType === 'new'">New Product</div>
                <div class="subtitle secondary-text">
                    <span>Product Detail</span>
                </div>
            </div>
        </div>

        <button mat-raised-button class="save-product-button" [disabled]="productForm.invalid" *ngIf="pageType === 'new'" (click)="goToBack()">
            <span>CANCEL</span>
        </button>

        <button mat-raised-button class="save-product-button" [disabled]="productForm.invalid || productForm.pristine" *ngIf="pageType === 'edit'" (click)="saveProduct()">
            <span>SAVE</span>
        </button>
    </div>
    <div class="center" fxLayout="row" fxLayoutAlign="start start" *ngIf="pageType === 'edit'">
        <fuse-sidebar class="sidebar" name="simple-left-sidebar-1" position="left" lockedOpen="gt-md" fxFlex="30" fxFill>
            <div class="content p-24">
                <fuse-demo-sidebar [product]="product"></fuse-demo-sidebar>
            </div>
        </fuse-sidebar>

        <div class="content-card" fxFlex="70">
            <div class="content">
                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="General">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>ProductID</mat-label>
                                    <input matInput placeholder="Product Id" name="id" formControlName="id" required />
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Product Name</mat-label>
                                    <input matInput placeholder="Product Name" name="productName" formControlName="productName" required />
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Product Description</mat-label>
                                    <textarea matInput placeholder="Product Description" name="description" formControlName="description" rows="5">
                                    </textarea>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Product Short Description</mat-label>
                                    <textarea matInput placeholder="Product short Description" name="shortDescription" formControlName="shortDescription" rows="5">
                                    </textarea>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Categories</mat-label>

                                    <mat-chip-list #categoryList name="categories" formControlName="categories">
                                        <mat-chip *ngFor="
                                                let category of product.categories
                                            " [removable]="true" (removed)="
                                                product.removeCategory(category)
                                            ">
                                            {{ category }}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="categoryList" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="
                                                product.addCategory($event)
                                            " />
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="Product Images">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">
                                    <!-- <div *ngIf="product.images.length === 0" class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media" [src]="
                                                'assets/images/ecommerce/product-image-placeholder.png'
                                            " />
                                    </div>

                                    <div *ngFor="let image of product.images">
                                        <div *ngIf="product.images.length > 0" class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="image.url" />
                                        </div>
                                    </div> -->
                                    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" style="
                                            display: table;
                                            margin: auto;
                                            width: 70%;
                                        ">
                                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" [showBrowseBtn]="true" style="height: 160px">
                                            <div fxFlex fxLayout="column" fxLayoutAlign="start start" style="margin-top: 42px">
                                                <div style="
                                                        display: table;
                                                        margin: auto;
                                                    ">
                                                    <mat-icon mat-list-icon>cloud_upload</mat-icon>
                                                </div>
                                                <h3 style="
                                                        display: table;
                                                        margin: auto;
                                                    ">
                                                    Drag or Drop
                                                </h3>
                                                <h3 style="
                                                        display: table;
                                                        margin: auto;
                                                    ">
                                                    or
                                                </h3>
                                                <button style="
                                                        display: table;
                                                        margin: auto;
                                                    " mat-raised-button color="warn" (click)="openFileSelector()">
                                                    Browse Files
                                                </button>
                                            </div>
                                        </ng-template>
                                    </ngx-file-drop>
                                    <div class="upload-table" style="
                                            display: table;
                                            margin: auto;
                                            width: 70%;
                                        ">
                                        <!--product images-->
                                        <mat-list *ngIf="images.length">
                                            <mat-list-item *ngFor="
                                                    let item of images;
                                                    let i = index
                                                " style="padding: 0 0">
                                                <div fxFlex fxLayout="row" fxLayoutAlign="start start" style="
                                                        width: 100%;
                                                        border: 1px dotted black;
                                                    ">
                                                    <div style="width: 70px">
                                                        <mat-icon mat-list-icon class="mr-10" style="
                                                                font-size: 48px;
                                                            ">insert_drive_file</mat-icon>
                                                    </div>
                                                    <div style="width: 100%">
                                                        <div mat-line>
                                                            {{ item.relativePath }}
                                                        </div>
                                                        <div mat-line>time</div>
                                                        <div mat-line>
                                                            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top: 20px">
                                                        <mat-icon mat-list-icon (click)="
                                                                removeFile(
                                                                    item.id
                                                                )
                                                            ">delete</mat-icon>
                                                    </div>
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                        <!--product images-->
                                        <mat-list *ngFor="
                                                let image of allFiles.length
                                                    ? allFiles
                                                    : []
                                            ">
                                            <mat-list-item style="padding: 0 0" *ngIf="!image.isDeleted">
                                                <div fxFlex fxLayout="row" fxLayoutAlign="start start" style="
                                                        width: 100%;
                                                        border: 1px dotted black;
                                                    ">
                                                    <div style="width: 70px">
                                                        <mat-icon mat-list-icon class="mr-10" style="
                                                                font-size: 48px;
                                                            ">insert_drive_file</mat-icon>
                                                    </div>
                                                    <div style="width: 100%">
                                                        <div mat-line>
                                                            {{ image.fileUrl }}
                                                        </div>
                                                        <div mat-line>
                                                            {{ image.fileType }}
                                                        </div>
                                                        <div mat-line>
                                                            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top: 20px">
                                                        <mat-icon mat-list-icon (click)="
                                                                removeFile(
                                                                    image.fileId
                                                                )
                                                            ">delete</mat-icon>
                                                    </div>
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Pricing">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Price</mat-label>
                                    <input matInput placeholder="Price" name="price" formControlName="price" type="number" />
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="Inventory">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>EAN</mat-label>
                                    <input matInput placeholder="EAN" name="ean" formControlName="ean" />
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
        </div>
    </div>
    <div class="center" *ngIf="pageType === 'new'">
        <div class="content-card">
            <div class="h1 pt-48 px-20">Vertical Stepper</div>
            <div class="vertical-stepper-wrapper">
                <!-- VERTICAL STEPPER EXAMPLE -->
                <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">
                    <mat-step [stepControl]="verticalStepperStep1">
                        <form fxLayout="column" [formGroup]="verticalStepperStep1">
                            <ng-template matStepLabel>General</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Product Name</mat-label>
                                    <input matInput formControlName="productName" required />
                                    <mat-error>Product Name is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Product Url</mat-label>
                                    <input matInput formControlName="productUrl" required />
                                    <mat-error>Product Url is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>EAN</mat-label>
                                    <input matInput formControlName="ean" required />
                                    <mat-error>EAN is required!</mat-error>
                                </mat-form-field>
                                <mat-slide-toggle formControlName="active" required>Active</mat-slide-toggle>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button mat-raised-button matStepperNext type="button" color="accent">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="verticalStepperStep2">
                        <form fxLayout="column" [formGroup]="verticalStepperStep2">
                            <ng-template matStepLabel>Description</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput formControlName="description" required>
                                        1600 Amphitheatre Pkwy
                                    </textarea>
                                    <mat-error>Description is required!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Short Description</mat-label>
                                    <textarea matInput formControlName="shortDescription" required>
                                        1600 Amphitheatre Pkwy
                                    </textarea>
                                    <mat-error>Short Description is required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                    Previous
                                </button>
                                <button mat-raised-button matStepperNext type="button" color="accent">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="verticalStepperStep3">
                        <form fxLayout="column" [formGroup]="verticalStepperStep3">
                            <ng-template matStepLabel>price</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Price</mat-label>
                                    <input matInput formControlName="price" type="number" required />
                                    <mat-error>Price is required!</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                    Previous
                                </button>
                                <button mat-raised-button matStepperNext type="button" color="accent">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="verticalStepperStep4">
                        <form fxLayout="column" [formGroup]="verticalStepperStep4">
                            <ng-template matStepLabel>Images</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Images</mat-label>
                                    <input matInput formControlName="images" required />
                                    <mat-error>Image is required!</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                    Previous
                                </button>
                                <button mat-raised-button matStepperNext type="button" color="accent">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="verticalStepperStep5">
                        <form fxLayout="column" [formGroup]="verticalStepperStep5">
                            <ng-template matStepLabel>Classifications</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <!-- <mat-label>Categories</mat-label> -->

                                    <mat-label>Categories</mat-label>
                                    <mat-select formControlName="categories" multiple>
                                        <mat-option *ngFor="let category of categoriess" [value]="category">{{ category }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                        Previous
                                    </button>
                                    <button mat-raised-button matStepperNext type="button" color="accent">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>

                        <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center"></div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button type="button" color="accent" (click)="finishVerticalStepper()">
                                Save
                            </button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
                <!-- / VERTICAL STEPPER EXAMPLE -->
            </div>
        </div>
    </div>
</div>